<!-- <h1>My messages</h1>
<header class="navbar">
    <section class="navbar-section">
      <a href="..." class="navbar-brand mr-2">Spectre.css</a>
      <a href="..." class="btn btn-link">Docs</a>
      <a href="..." class="btn btn-link">GitHub</a>
    </section>
    <section class="navbar-section"></section>
  </header> -->


  <mat-toolbar color="primary">  My app
      <!-- <mat-toolbar-row>
        <span>First Row</span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <span>Second Row</span>
      </mat-toolbar-row> -->
    </mat-toolbar>