<mat-card>
  <form [formGroup]="form" (submit)="createPost()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" min="3">
      <mat-error *ngIf="form.get('title').invalid">invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="content" min="3"></textarea>
      <mat-error *ngIf="form.get('content').invalid">invalid</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Create post</button>
  </form>
</mat-card>
